name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
  
  test-sqlx-versions:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        sqlx-version: [0.7, 0.8]
    steps:
    - uses: actions/checkout@v4
    - name: Replace sqlx version in Cargo.toml
      run: |
        sed -i 's/sqlx = { version = ">=0\.7, <1\.0",/sqlx = { version = "${{ matrix.sqlx-version }}",/' paginator-sqlx/Cargo.toml
    - name: Build paginator-sqlx
      run: cargo build --package paginator-sqlx --verbose
    - name: Run tests paginator-sqlx
      run: cargo test --package paginator-sqlx --verbose